.b-page-footer-login {
    z-index: 101;
    position: absolute;
    top: 990px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.b-page-login {
    z-index: 101;
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif    
}
.login-content {
    float: left;
    height:680px;
    width: 100vw;
    color: white;
    position: absolute;
    left: 0;
    top: 310px;
    z-index: 101;
    text-align: center ;
    background-color: #E6ECF5;
     margin: auto;
}
.login-image-text {
    display: inline-block;
    position: relative;
    max-width: 1290px;
    min-width: 1260px;
    width: 100%;
    height:318px;
    margin: 0 auto;
}   
.title-form-login {
    max-width: 600px;
    min-width:580px;
    width: 100%;
    height: 500px;
    position: relative;
    float: right;
    margin: 0 auto;
}
#login-form{
   position: relative;
   padding: 18px 6% 60px 6%;
   margin: 0 0 35px 0;
   margin: 0 auto;
   right: 250px;
   top: 25px;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
.login-border_2 {
    border: 1px solid #D8DBE6;
    width: 350px;
    height: 576px;
    position: relative;
    color: #888DA8;
    float: right;
    margin: 0 auto;
    margin-right: 10px;
    
}
.login_OR-lines_2 {
    position: relative;
    top:70px;
}
.login_input-email_password {
    max-width: 250px;
    max-height: 200px;
    border: 1px solid white;
    color: #888DA8;
    position: relative; 
    right: 15px;
    top: 10px   
}

.login_pass-login{margin-left: 22px;
    border: 1px solid #D8DBE6 ;
    width: 295.31px;
    height: 46px;
    float: left;
    color: #888DA8;
    margin-top: 20px;
    font-size: 12;}

.login_button-login {
    float: left;
    position: absolute;
    right:35px;
    bottom: 300px;
     width: 295px;
     height:43px;
     background-color: #FF5E3A;
     color: white;
     border: none;
     font-size: 16px;
     font-weight: bold;
     border-radius: 2px;
}
.OR-lines {
   position: absolute;
   right: 148px;
   bottom: 280px;
}
.login_button-login-facebook {
    float: left;
    position: absolute;
    right:35px;;
    bottom: 180px;
     width: 295px;
     height:43px;
     background-color: #2F5B9D;
     color: white;
     border: none;
     font-size: 16px;
     font-weight: bold;
     border-radius: 2px;
}
.check-material_login_2 {margin-left: 22px; margin-top: 150px}
.check-material_login_2 input[type="checkbox"]{display:none}
.check-material_login_2 input[type="checkbox"]:checked + label{background:#FF5E3A;border-color:#FF5E3A}
.check-material_login_2 input[type="checkbox"]:checked + label:after{transform:scale(1.3)}
.check-material_login_2 label{display:block;box-sizing:border-box;width:15px;height:15px;background:white;border:1px solid #7A7A7A;border-radius:30%;position:relative;cursor:pointer;transition:.2s}
.check-material_login_2 label:before{content:'';position:absolute;display:block;height:300%;width:300%;top:-100%;left:-100%;z-index:-1;border-radius:50%;transition:.3s}
.check-material_login_2 label:after{content:'';display:block;height:100%;width:100%;background:url(https://cbwconline.com/IMG/Codepen/Check.svg) center center no-repeat;background-size:contain;transform:scale(0);transition:.2s}
.check-material_login_2 label:active:before{background:#bfbfbf}
.login-span-remember_2 {
    position: relative; 
    right: 25px;
    bottom: 35px;
    font-size: 12px    
}
.login-span-forgot_2 {
    position: relative; 
    left: 50px; 
    bottom: 35px; 
    font-size: 12px;
    color: #888DA8;
}
.login_form {
    color: #888DA8;
    background-color: white;
    height: 550px;
	max-width: 380px;
    min-width:380px;
    width: 100%;
    float: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.login_button-login-twitter {
   position: absolute;
   right:35px;
   bottom: 120px;
    float: left;
     width: 295px;
     height:43px;
     background-color: #38BFF1;
     color: white;
     border: none;
     font-size: 16px;
     font-weight: bold;
     border-radius: 2px;
}
.login_container-adress {
    float: left;
    padding: 4px;
    width: 350px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 11px
}
.login_adress_to_register_1 {

    float: left;
     margin-left: 22px;
     margin-top: 20px; 
}
.login_span {
    float: left
}
.login_b-page-title {
    max-width: 100vw;
    max-height: 290px;
    float: left;
    width: 100%;
    height: 100%;
    color: white;
    position: relative;
    top: 60px;
    z-index: 101;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.login_title-content {
    float: left;
    height:290px;
    width: 100vw;
    color: white;
    position: relative;
    z-index: 101;
    text-align: center ;
     margin: auto;
     background-image: url(../image/back.jpg);
     background-position: bottom;
     background-size: cover;
     align-content: center;
}